@import '../../theme';

.user-info-container {
  height: 248px;
  width: 200px;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid $messageBorder;
}

.user-info {
  align-self: center;
}

.user-name {
  text-align: center;
  font-weight: bolder;
}
